
	{% for howto in howtolist | reverse %}
		<article{% if howto.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ howto.url | url }}">
					{% if howto.data.title %}
						{{ howto.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if howto.data.summary %}
				<p>
					{{ howto.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ howto.date | machineDate }}">
					<small>{{ howto.date | readableDate }} by {{ metadata.author.name }}</small>
				</time>
			</p>
			{% if howto.data.tags %}
				<p>
					{% for tag in howto.data.tags %}
		  			{%- if tag != "howto" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
